/target
/sanitizer/target
/sanitizer/libfixsanitizer.so
/main.ll
/examples/*.o
.fixlang
*.out
before_opt.ll
after_opt.ll
benchmark/data_copied.csv
cachegrind.out.*
*.symbols.fix
test.fix
test.log
llvm_passes_tmp.txt